global
        maxconn 4096
        user haproxy
        group haproxy
        daemon
        log 127.0.0.1 local0 debug

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        option http-server-close
        option forwardfor
        maxconn 2000
        timeout connect 5s
        timeout client  15min
        timeout server  15min

frontend public
        bind *:80
        use_backend mopidympd if { path_beg /mpd/ }
        default_backend mopidyhttp

backend mopidyhttp
        reqrep ^([^\ :]*)\ /(.*)     \1\ /\2
        option forwardfor
        server mopidyhttp1 127.0.0.1:8080

backend mopidympd
        reqrep ^([^\ :]*)\ /mpd/(.*)     \1\ /\2
        server mopidympd1  127.0.0.1:6680
