global
        maxconn 4096

defaults
        mode    http
        balance roundrobin
        option redispatch
        option forwardfor
        timeout connect 5s
        timeout queue 5s
        timeout client 50s
        timeout server 50s

frontend public
        bind *:80
        use_backend mopidympd if { path_beg /mpd/ }
        use_backend emoji if { path_beg /emoji/ }
        default_backend mopidyhttp
        # Any URL beginning with socket.io will be flagged as 'is_websocket'
        acl is_websocket path_beg /socket.io
        acl is_websocket hdr(Upgrade) -i WebSocket
        acl is_websocket hdr_beg(Host) -i ws
        # The connection to use if 'is_websocket' is flagged
        use_backend backend_data if is_websocket

backend mopidyhttp
        option forwardfor
        server mopidyhttp1 127.0.0.1:8080

backend mopidympd
        reqrep ^([^\ :]*)\ /mpd/(.*)     \1\ /\2
        server mopidympd1  127.0.0.1:6680

backend emoji
        reqrep ^([^\ :]*)\ /emoji/(.*)   \1\ /\2
        server emoji1  127.0.0.1:8888

backend backend_data
        balance source
        option http-server-close
        option forceclose
        server api_1 127.0.0.1:1337 weight 1 maxconn 1024 check
