global
        maxconn 4096

defaults
        mode    http
        balance roundrobin
        option redispatch
        option forwardfor
        timeout connect 5s
        timeout queue 5s
        timeout client 50s
        timeout server 50s

frontend public
        bind *:80
        use_backend mopidympd if { path_beg /mpd/ }
        use_backend emoji if { path_beg /emoji/ }
        use_backend files if { path_beg /files/ }
        default_backend mopidyhttp

backend mopidyhttp
        option forwardfor
        server mopidyhttp1 127.0.0.1:8080

backend mopidympd
        reqrep ^([^\ :]*)\ /mpd/(.*)     \1\ /\2
        server mopidympd1  127.0.0.1:6680

backend emoji
        reqrep ^([^\ :]*)\ /emoji/(.*)   \1\ /\2
        server emoji1  127.0.0.1:8888

backend files
        reqrep ^([^\ :]*)\ /files/(.*)   \1\ /\2
        server files1  127.0.0.1:8000
